#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  text-align: center;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #DB324D;
  width: 100%;
  padding: 1rem;
  color: white;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #DB324D;
  width: 100%;
  padding: 1rem;
  color: white;
}

.nav {
  list-style: none;
  display: flex;
 
}

.mob-menu-button {
  display: none;
  height: 40px;
}

.menu-button {
  background: white;
  border: none;
  display: block;
  width: 25px;
  height: 2px;
  position: relative;
  top: 15px;
}

.menu-button:before,
.menu-button:after {
  content: '';
  display: block;
  width: 25px;
  height: 2px;
  background-color: white;
  position: absolute;
  left: 0;
}

.menu-button:before {
  bottom: -5px;
}

.menu-button:after{
  bottom: -10px;
}

.dropdown-content{
  display: none;
  list-style: none;
  position: absolute;
  right: 0;
  top: 40px;
  padding: 20px;
  background-color: #DB324D;
  width: 200px;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 2;
}

.dropdown-content.open .header-link {
  display: block;
  text-decoration: none;
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
}

.dropdown-content.open {
  display: block;
}

.header-link, .footer-link {
  font-size: 28px;
  color: white;
  font-weight: 600;
  text-decoration: none;
  transition: 0.5 all ease-out;
  cursor: pointer;
}

.header-link {
  padding: 10px;
}
.dropdown-content.open .header-link:hover {
  color: #DB324D;
}
.header-link:hover, .footer-link:hover {
  background-color: white;
  color: #DB324D;
}
.topic-page {
  padding-top: 2rem;
  background-color: white;
  color: #56494E;
}

.topic-title {
  margin-bottom: 2rem;
}

ul {
  padding: 0;
}

.article-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
}
 .article-body {
    padding-top: 30px;
  }

.article-list, .articles-topic, .topics-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.article-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 20px;
  background-color: white;
  border: 3px solid #56494E;
  cursor: pointer;
  transition: 0.5s all ease-out;
  gap: 10px;
}

.article-columns {
  display: flex;
  justify-content: left;
  align-items: center;
}
.article-title {
  padding-top: 30px;
  font-size: 18px;
  font-family: "Montserrat";
  color: #DB324D;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 25px;
}

.article-data {
  padding-top: 20px;
  color: #56494E;
}

.article-item:hover {
  background-color: #DB324D;
  color: white;
}

.article-item:hover .article-title {
  color: white;
}

.article-img {
  display: flex;
  justify-self: center;
  width: 100%;
  border: 1px solid #DB324D;
}

.article-top {
  padding-top: 20px;
  align-self: flex-start;
  color:#56494E;
}
.article-top:hover{
  color: #DB324D;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

.single-article {
  width: 100%;
  padding: 20px;
  background-color: white;
  border: 3px solid #DB324D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.comments {
  display: flex;
  flex-direction: column;
}

.comments-title {
  padding-top: 2rem;
  font-size: 30px;
  color: #DB324D;
}

.comments-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px 10px;
  list-style: none;
  font-size: 12px;
}

.comment-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 30%;
  overflow-wrap: break-word;
  word-break: break-all;
  border: 1px solid #DB324D;
  padding: 10px;
  gap: 5px;
}
.comment-body {
  display: flex;
  flex-wrap: wrap;
  
}
.votes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.vote-buttons {
  display: flex;
  gap: 5px;
}
.vote-btn {
  font-family: "Montserrat";
  font-weight: 600;
  background-color: #DB324D;
  border: 2px solid #DB324D;
  border-radius: 6px;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s all ease-out;
}

.vote-btn:hover, .add-btn:hover {
  background-color: white;
  color: #DB324D;
}

.vote-btn:disabled{
  opacity: 0.5;
  background-color: #DB324D;
  color: white;
}

.state-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 35px;
  font-weight: 700;
  padding: 50vh;
}

.state-loading.topics {
  color: white;
}

.comment-adder {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
}

.new-comment {
  font-family: "Montserrat";
  display: flex;
  justify-content: left;
  align-items: center;
  width: 50%;
  padding: 10px 20px;
  border: 1px solid #DB324D;
  border-radius: 6px;
}

.add-btn {
  font-family: "Montserrat";
  font-weight: 600;
  background-color:#DB324D;
  border: 1px solid #DB324D;
  border-radius: 6px;
  padding: 10px 20px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s all ease-out;
}


.item-topicpage {
  width: 30%;
  padding: 20px;
  color: #56494E;
  cursor: pointer;
  border-radius: 6px;
}

.item-topicpage .article-title {
  padding-top: 20px;
}

.item-topicpage:hover {  
  background-color: #DB324D;
  color: white;
}

.item-topicpage:hover .article-title {  
  color: white;
}

.topic-image {
  width: 90%;
}

.topic-link {
  text-decoration: none;
  color: white;
}

.topic-item {
  padding: 2rem;
  background-color: white;
  color: #DB324D;
  width: 30%;
  border: 3px solid;
  transition: 0.5s all ease-out;
  border-radius: 6px;
  margin-bottom: 30px;
}

.topic-item:hover {
  padding: 2rem;
  background-color: #DB324D;
  color: white;
  width: 50%;
}
.topic-item:hover .topics-title {
  color: white;
}
.topic-item:hover .topic-description {
  color: white;
}

.topics-title, .topic-description {
  padding-top: 10px;
  color: #DB324D;
}

.footer {
  display: flex;
  position: sticky;
  margin-bottom: 0px;
  justify-content: space-between;
  align-self: flex-end;
  align-items: center;
  padding: 20px 5%;
}

.social-media { 
  display: flex;
  gap: 10px;
}


@media screen and (max-width: 700px) {
  .mob-menu-button {
    display: block;
  }

  .nav {
    display: none;
  }

  .article-item, .item-topicpage {
    width: 90%;
    font-size: 10px;
  }


  .comment-item {
  
    width: 375px;
  }

  .comment-adder {
    flex-direction: column;
  }

  .new-comment {
    max-width: 375px;
  }
}