#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  text-align: center;

}

.header {
  display: flex;
  background-color: #DB324D;
  width: 100%;
  padding: 1rem;
  color: white;
}
.topic-page {
  padding-top: 2rem;
  background-color: white;
  color: #56494E;
}

.topic-title {
  margin-bottom: 2rem;
}

ul {
  padding: 0;
}

.article-link {
  text-decoration: none;
  color: black;
}

.article-list, .articles-topic, .topics-list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.article-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 20px;
  background-color: white;
  border: 3px solid #56494E;
  cursor: pointer;
  transition: 0.5s all ease-out;
  gap: 10px;
}
.article-title {
  font-family: "Montserrat";
  color: #DB324D;
  font-weight: 600;
  text-transform: capitalize;
}

.article-item:hover {
  background-color: #DB324D;
  color: white;
}

.article-item:hover .article-title {
  color: white;
}

.article-img {
  display: flex;
  justify-self: center;
  width: 90%;
  border: 1px solid #DB324D;
}

.article-top {
  justify-self: left;
  align-self: flex-start;
  color:#56494E;
}
.article-top:hover{
  color: #DB324D;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

.single-article {
  padding: 20px;
  background-color: white;
  border: 3px solid #DB324D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.comments-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px 10px;
  list-style: none;
  font-size: 12px;
}

.comment-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 30%;
  border: 1px solid #DB324D;
  padding: 10px;
  gap: 5px;
}
.comment-body {
  display: flex;
  flex-wrap: wrap;
  
}
.votes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.vote-buttons {
  display: flex;
  gap: 5px;
}
.vote-btn {
  background-color: white;
  border: 2px solid #DB324D;
  border-radius: 6px;
  width: 30px;
  height: 30px;
  color: #DB324D;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s all ease-out;
}

.vote-btn:hover, .add-btn:hover {
  background-color: #DB324D;
  color: white;
}

.vote-btn:disabled{
  opacity: 0.5;
  background-color: #DB324D;
  color: white;
}

.state-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 35px;
  font-weight: 700;
  padding: 50vh;
}

.state-loading.topics {
  color: white;
}

.comment-adder {
  display: flex;
  gap: 10px;
  justify-self: left;
  align-items: center;
  padding: 20px;
  margin: 30px;
}

.new-comment {
  font-family: "Montserrat";
  display: flex;
  justify-content: left;
  align-items: center;
  width: 300px;
  padding: 10px 20px;
  border: 1px solid #DB324D;
  border-radius: 6px;
}

.add-btn {
  background-color: white;
  border: 2px solid #DB324D;
  border-radius: 6px;
  padding: 10px 20px;
  color: #DB324D;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s all ease-out;
}


.item-topicpage {
  width: 30%;
  padding: 20px;
  color: #56494E;
  cursor: pointer;
  border-radius: 6px;
}

.item-topicpage .article-title {
  padding-top: 20px;
}

.item-topicpage:hover {  
  background-color: #DB324D;
  color: white;
}

.item-topicpage:hover .article-title {  
  color: white;
}

.topic-image {
  width: 90%;
}

.topic-link {
  text-decoration: none;
  color: white;
}

.topic-item {
  padding: 2rem;
  background-color: white;
  color: #DB324D;
  width: 30%;
  border: 3px solid;
  transition: 0.5s all ease-out;
  border-radius: 6px;
  margin-bottom: 30px;
}

.topic-item:hover {
  padding: 2rem;
  background-color: #DB324D;
  color: white;
  width: 50%;
}
.topic-item:hover .topics-title {
  color: white;
}
.topic-item:hover .topic-description {
  color: white;
}

.topics-title, .topic-description {
  padding-top: 10px;
  color: #DB324D;
}








@media screen and (max-width: 650px) {
  .article-item {
    width: 50%;
    font-size: 10px;
  }

  .article-title {
    font-size: 14px;
  }
  .comment-item {
    width: 90%;
  }
  
}